@model EasyPlan.Web.ViewModels.RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="login-form register-form">
        <div class="login-form-header">
            <h2 class="login-form-title">Sign up</h2>
        </div>
        <div class="login-form-body">
            <div class="editor-field fied-input">
                <i class="field-icon fullname-icon">👨</i>
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { placeholder = "Full Name" } })
                @Html.ValidationMessageFor(model => model.FullName, null)
            </div>

            <div class="editor-field fied-input email-icon">
                <i class="field-icon email-icon">@@</i>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email Address" } })
                @Html.ValidationMessageFor(model => model.Email,null)
            </div>

            <div class="editor-field fied-input">
                <i class="field-icon password-icon">🔒</i>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, null)
            </div>
        </div>
        <div class="login-form-buttons">
                <input class="button" type="submit" value="Sign Up" />
        </div>
    </div>
}
<div class="form-extra-message">
    <span class="have-account"><a href="#" class="link">Forgot password?</a> Already have an account? @Html.ActionLink("Sign In", "LogIn", null, new { @class = "link" })</span>
</div>
